<div class="card mb-3">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="Retour" icon="pi pi-angle-left" routerLink="/user/list-offre"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div *ngIf="offer">
        <h2>Offre</h2>

        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Offre</label>
            <label class="col-12 md:col-10">
                {{offer.offername }}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Date debut</label>
            <label class="col-12 md:col-10">
                {{(offer.start)?(formatDate(offer.start)| date: 'le d MMMM yyyy HH:mm:ss'):''}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Date fin</label>
            <label class="col-12 md:col-10">
                {{(offer.end)?(formatDate(offer.end)| date: 'le d MMMM yyyy HH:mm:ss'):''}}
            </label>
        </div>
        <h2>Service</h2>
        <div *ngFor="let service of offer.services">
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Service</label>
                <label class="col-12 md:col-10">
                    {{service.serviceobj?.servicename}}
                </label>
            </div>
            <div class="field grid" *ngIf="service.serviceobj?.duree">
                <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">duree</label>
                <label class="col-12 md:col-10">
                    {{ calculateHours(service.serviceobj?.duree)
                    }}:{{calculateRemainingMinutes(service.serviceobj?.duree) | number:'2.0' }}
                </label>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">prix</label>
                <label class="col-12 md:col-10">
                    {{service.serviceobj?.price | currency:'MGA':'symbol':'1.2-2'}}
                </label>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">reduction</label>
                <label class="col-12 md:col-10">
                    {{service.reduction }} %
                </label>
            </div>
            <div class="field grid" *ngIf="service.serviceobj && service.serviceobj.price && service.reduction">
                <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">prix reduit</label>
                <label class="col-12 md:col-10">
                    {{service.serviceobj.price  - (service.serviceobj.price * (service.reduction/100)) }} 
                </label>
            </div>
        </div>

        
<div class="card mb-3">
    <div>
        <h2>Particper</h2>
        <h4>Date {{(appointment.date)?(formatDate(appointment.date)| date: 'le d MMMM yyyy HH:mm:ss'):''}} </h4>
        <div class="field">

            <p-calendar #calendar (onSelect)="onDateSelect(calendar.value)" [showTime]="true" dateFormat="yy-mm-dd " class="col-12 md:col-10"></p-calendar>
            <!-- <small class="p-error" *ngIf="submitted && emailError">{{emailError}}</small> -->
        </div>
        <div *ngIf="appointment.date">
            <h4>Programmes</h4> 
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="name2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Service</label>
                    <p-dropdown class="col-12 md:col-10" #dropdown [options]="serviceItems"
                        [(ngModel)]="selectedService" (onChange)="onChooseService(dropdown.value)"
                        placeholder="Selectionner Service"></p-dropdown>
                </div>
                <div class="field col">
                    <label htmlFor="email2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Employe</label>
                    <p-dropdown class="col-12 md:col-10" #dropdownemploye *ngIf="selectedService"
                        [options]="availableEmployeItems" [(ngModel)]="selectedEmploye"
                        (onChange)="onChooseEmploye(dropdownemploye.value)"
                        placeholder="Selectionner Employe"></p-dropdown>
                </div>
                <div class="field col">
                    <button pButton type="button" label="Ajouter Programme"
                        [disabled]="!selectedEmploye || !selectedService" class="p-button-outlined"
                        (click)="addProgram()"></button>
                </div>

            </div>
            <div class="p-2 border-1 surface-border border-round w-30rem">
                <p class=" text-center surface-border border-bottom-1">Programmes</p>
                <ul class="list-none flex flex-column gap-2 p-0 m-0 ">
                    <p-chip *ngFor="let program of appointment.programs"
                        [label]="'Effectuer  '+program.serviceobj?.servicename+' avec '+program.employeobj?.firstName+''+program.employeobj?.lastName"
                        class="text-center" label="employe service" [removable]="true"
                        (onRemove)="removeProgram(program)"></p-chip>
                </ul>
            </div>
        </div>


        <div class="my-2">
            <button pButton pRipple label="Ajouter" (click)="create()"></button>
        </div>
    </div>
</div>

    </div>
    <div class="empty" *ngIf="!offer&& !loading">
        <h1>Rendez-vous pas trouver.</h1>
    </div>
    <div class="empty" *ngIf="!offer&& loading">
        <h1>Loading...</h1>
    </div>
</div>
