<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button> -->
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="spendingtypes" [loading]="loading" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="globalFilterFields" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions "
                [showCurrentPageReport]=" true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Type Depense</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-spendingtypeItem>
                    <tr>

                        <td *ngFor="let col of cols" style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{col.header}}</span>
                            {{ (col.field != 'spendingvalue')?spendingtypeItem[col.field]: (spendingtypeItem.spendingvalue |
                            currency:'MGA':'symbol':'1.2-2') }}
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editSpendingtype(spendingtypeItem)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteSpendingtype(spendingtypeItem)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>



        <p-dialog [(visible)]="spendingtypeDialog" [style]="{width: '450px'}" header="Detail Spendingtype"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="spendinglabel">Nom depense</label>
                    <input type="text" pInputText id="spendinglabel" [(ngModel)]="spendingtype.spendinglabel" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('spendinglabel').error!=undefined}" />
                        <small class="p-error"
                        *ngIf=" submitted && getErrorByFieldName('spendinglabel').error!=undefined">{{getErrorByFieldName('spendinglabel').error}}</small>
                </div>
                <div class="field">
                    <label for="code">Code</label>
                    <input type="text" pInputText maxlength="4" id="code" [(ngModel)]="spendingtype.code" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('code').error!=undefined}" />
                        <small class="p-error"
                        *ngIf=" submitted && getErrorByFieldName('code').error!=undefined">{{getErrorByFieldName('code').error}}</small>
                </div>                

                <div class="field">
                    <label for="price">Valeur</label>
                        <p-inputNumber id="price" [(ngModel)]="spendingtype.spendingvalue" mode="currency" currency="MGA"
                            locale="fr-FR"></p-inputNumber>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveSpendingtype()"></button>
            </ng-template>
        </p-dialog>




        <p-dialog [(visible)]="deleteSpendingtypeDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="spendingtype">Etes vous sure que vous voulez supprimer
                    <b>{{spendingtype.spendinglabel}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteSpendingtypeDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>