
<aside id="betty-hero" class="js-fullheight">
    <div *ngIf="showLoader" class="preloader-bg"></div>
    <div *ngIf="showLoader" id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Slider -->
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(assets/vendor/images/slider/02.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1>Découvrez l'excellence de la beauté chez Divine Beauty !</h1>
                                    <p>Notre engagement envers la qualité vous assure une expérience exceptionnelle à
                                        chaque visite.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(assets/vendor/images/slider/01.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1>Laissez-vous choyer dans l'élégance chez Divine Beauty !</h1>
                                    <p>Chaque détail est pensé pour sublimer votre beauté et vous offrir un moment
                                        unique de détente.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(assets/vendor/images/slider/03.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1>Explorez l'art de la beauté chez Divine Beauty - Votre destination de choix !
                                    </h1>
                                    <p>Dans notre salon, nous transformons vos rêves de beauté en réalité, car votre
                                        satisfaction est notre priorité.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- Services -->
<div class="betty-home-services betty-services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="betty-heading">Nos services</h2> <span class="heading-meta">Nous proposons une large gamme de
                    services de beauté</span>
            </div>
        </div>
        <div class="row">

            <div *ngFor="let serviceItem of services" class="col-md-4">
                <div class="item">
                    <div class="position-re o-hidden"> <img src="{{serviceItem.photo}}" alt=""> </div>
                    <div class="con">
                        <a routerLink="/services/{{serviceItem._id}}">
                            <h5>{{serviceItem.servicename}}</h5>
                            <p><i class="ti-arrow-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Testiominals -->
<app-client-comment></app-client-comment>