<div class="card mb-3">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="Retour" icon="pi pi-angle-left"
                    routerLink="/admin/crud/employe"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div *ngIf="employe">
        <h2>Detail Employe</h2>
        <h4>Informations Personnel</h4>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Nom</label>
            <label class="col-12 md:col-10">
                {{employe.firstName}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Prenom</label>
            <label class="col-12 md:col-10">
                {{employe.lastName}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Email</label>
            <label class="col-12 md:col-10">
                {{employe.email}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">CIN</label>
            <label class="col-12 md:col-10">
                {{employe.cin}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Date de naissance</label>
            <label class="col-12 md:col-10">
                {{(employe.datebirth)?(formatDate(employe.datebirth)| date: 'le d MMMM yyyy'):''}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">address</label>
            <label class="col-12 md:col-10">
                {{employe.address}}
            </label>
        </div>

        <h4>Informations Professionnel</h4>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Embaucher le</label>
            <label class="col-12 md:col-10">
                {{(employe.hired_at)?(formatDate(employe.hired_at)| date: 'le d MMMM yyyy'):''}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Salaire</label>
            <label class="col-12 md:col-10">
                {{employe.salary}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Code</label>
            <label class="col-12 md:col-10">
                {{employe._id}}
            </label>
        </div>

        <h4>Compte</h4>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Status</label>
            <span
                [class]="'employe-badge status-' + ((!employe.password)?'withoutpssw':'withpssw')">{{((employe.password)?'Acces':'Pas Acces')}}</span>
        </div>
        <div class="field grid">
            <div class="my-2">
                <button *ngIf="!employe.password" pButton pRipple label="Envoyer email confirmation" icon="pi pi-send"
                    (click)="sendConfirmationEmail()"></button>
            </div>
        </div>

        <div *ngIf="employe.workhour&&employe.workhour.length!=0">
            <h4>Heure de travail</h4>
            <h5>Lundi</h5>
            <div class="field grid">
                <p-calendar #calendar1 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[0].dates[0][0]"
                    (onSelect)="onSelect(calendar1.value,1,0,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar1 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[0].dates[0][1]"
                    (onSelect)="onSelect(calendar1.value,1,0,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <div class="field grid">
                <p-calendar #calendar11 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[0].dates[1][0]"
                    (onSelect)="onSelect(calendar11.value,1,1,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar11 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[0].dates[1][1]"
                    (onSelect)="onSelect(calendar11.value,1,1,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <h5>Mardi</h5>
            <div class="field grid">
                <p-calendar #calendar2 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[1].dates[0][0]"
                    (onSelect)="onSelect(calendar2.value,2,0,0)" [timeOnly]="true"> 
                </p-calendar>
                <p-calendar #calendar2 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[1].dates[0][1]"
                    (onSelect)="onSelect(calendar2.value,2,0,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <div class="field grid">
                <p-calendar #calendar21 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[1].dates[1][0]"
                    (onSelect)="onSelect(calendar21.value,2,1,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar21 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[1].dates[1][1]"
                    (onSelect)="onSelect(calendar21.value,2,1,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <h5>Mercredi</h5>
            <div class="field grid">
                <p-calendar #calendar3 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[2].dates[0][0]"
                    (onSelect)="onSelect(calendar3.value,3,0,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar3 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[2].dates[0][1]"
                    (onSelect)="onSelect(calendar3.value,3,0,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <div class="field grid">
                <p-calendar #calendar31 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[2].dates[1][0]"
                    (onSelect)="onSelect(calendar31.value,3,1,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar31 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[2].dates[1][1]"
                    (onSelect)="onSelect(calendar31.value,3,1,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <h5>Jeudi</h5>
            <div class="field grid">
                <p-calendar #calendar4 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[3].dates[0][0]"
                    (onSelect)="onSelect(calendar4.value,4,0,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar4 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[3].dates[0][1]"
                    (onSelect)="onSelect(calendar4.value,4,0,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <div class="field grid">
                <p-calendar #calendar41 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[3].dates[1][0]"
                    (onSelect)="onSelect(calendar41.value,4,1,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar41 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[3].dates[1][1]"
                    (onSelect)="onSelect(calendar41.value,4,1,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <h5>Vendredi</h5>
            <div class="field grid">
                <p-calendar #calendar5 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[4].dates[0][0]"
                    (onSelect)="onSelect(calendar5.value,5,0,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar5 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[4].dates[0][1]"
                    (onSelect)="onSelect(calendar5.value,5,0,1)" [timeOnly]="true">
                </p-calendar>
            </div>
            <div class="field grid">
                <p-calendar #calendar51 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[4].dates[1][0]"
                    (onSelect)="onSelect(calendar51.value,5,1,0)" [timeOnly]="true">
                </p-calendar>
                <p-calendar #calendar51 
                    class="col-12 mb-2 md:col-2 md:mb-0" [ngModel]="employe.workhour[4].dates[1][1]"
                    (onSelect)="onSelect(calendar51.value,5,1,1)" [timeOnly]="true">
                </p-calendar>
            </div>

            <div class="field grid">
                <div class="my-2">
                    <button pButton pRipple label="Modifier" 
                        (click)="submitWork()"></button>
                </div>
            </div>
        </div>

        <h4>Aptitude</h4>
        <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
            <div>
                <div class="font-medium text-3xl text-900 ">Service</div>
                <div class="card flex  flex-row gap-5 ">
                    <div class="p-2 border-1 surface-border border-round w-20rem">
                        <ul class="list-none flex flex-column gap-2 p-0 m-0">
                            <li *ngFor="let service of availableServices" class="p-2 border-round shadow-1" pDraggable
                                (onDragStart)="dragStartService(service)" (onDragEnd)="dragEndService()">
                                {{service.servicename}}
                            </li>
                        </ul>
                    </div>
                    <div class="p-2 border-1 surface-border border-round w-20rem" pDroppable (onDrop)="dropService()">
                        <p class="text-center surface-border border-bottom-1">Capacite</p>
                        <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedServices">
                            <p-chip *ngFor="let service of selectedServices" [label]="service.servicename" [removable]="true"
                                (onRemove)="removeService(service)"></p-chip>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>

    </div>
    <div class="empty" *ngIf="!employe">
        <h1>Employe pas trouver.</h1>
    </div>
</div>