<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/vendor/images/logo-rose.png"
            alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <span class="text-600 font-medium">Entrez le code de vérification</span>
                </div>

                <div>
                    <label for="code" class="block text-900 text-xl font-medium mb-2">Code</label>
                    <input id="code" type="number" placeholder="****" pInputNumber class="w-full md:w-30rem mb-5"
                        style="padding:1rem"(ngModelChange)="onCodeChange($event)" [ngModel]="code">

                   

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)" (click)="resendEmail()">Renvoyer l'e-mail</a>
                    </div>
                    <button pButton pRipple label="Vérifier" class="w-full p-3 text-xl" (click)="verifyCode()"></button>
                </div>
            </div>
        </div>
    </div>
</div>