<div class="card mb-3">
    <p-toast></p-toast>
  

    <div *ngIf="employe">
        <div *ngIf="employe.workhour&&employe.workhour.length!=0">
            <h4>Heure de travail</h4>
            <h5>Lundi</h5>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[0].times[0][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[0].times[0][1]}}</label>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[0].times[1][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[0].times[1][1]}}</label>
            </div>
            <h5>Mardi</h5>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[1].times[0][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[1].times[0][1]}}</label>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[1].times[1][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[1].times[1][1]}}</label>
            </div>
            <h5>Mercredi</h5>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[2].times[0][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[2].times[0][1]}}</label>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[2].times[1][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[2].times[1][1]}}</label>
            </div>
            <h5>Jeudi</h5>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[3].times[0][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[3].times[0][1]}}</label>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[3].times[1][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[3].times[1][1]}}</label>
            </div>
            <h5>Vendredi</h5>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[4].times[0][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[4].times[0][1]}}</label>
            </div>
            <div class="field grid">
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[4].times[1][0]}}</label>
                <label class="col-12 mb-2 md:col-2 md:mb-0">{{employe.workhour[4].times[1][1]}}</label>
            </div>
      
        </div>

        
    </div>
    <div class="empty" *ngIf="!employe">
        <h1>Horaire pas trouver.</h1>
    </div>
</div>