<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div> 
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="employes" [columns]="cols" [loading]="loading" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="globalFilterFields" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions "
                [showCurrentPageReport]=" true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Employes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header"> 
                    <tr>
                        <th pSortableColumn="_id">Code<p-sortIcon field="_id"></p-sortIcon>
                        </th>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>Status compte</th>
                        <th></th>
                        <th></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employeItem>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{employeItem._id}}
                        </td>

                        <td *ngFor="let col of cols" style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{col.header}}</span>
                            {{ (col.field != 'salary')?
                            ((col.field == 'hired_at' && employeItem.hired_at)?(formatDate(employeItem.hired_at)| date: 'le d MMMM yyyy'):employeItem[col.field])
                            : (employeItem.salary | currency:'MGA':'symbol':'1.2-2') }}
                        </td>

                        <!-- <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Prix</span>
                            {{employeItem.price | currency:'USD'}}
                        </td> -->
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status compte</span>
                            <span
                                [class]="'employe-badge status-' + ((!employeItem.password)?'withoutpssw':'withpssw')">{{((employeItem.password)?'Acces':'Pas Acces')}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editEmploye(employeItem)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteEmploye(employeItem)"></button>

                            </div>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-file" label="detail"
                                class="p-button-rounded p-button-secondary"
                                (click)="redirectToAbout(employeItem._id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


             
        <p-dialog [(visible)]="employeDialog" [style]="{width: '450px'}" header="Detail Employe" [modal]="true" class="p-fluid" (hide)="hideDialog()">
            
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="firstName">Email</label>
                    <input type="email" pInputText id="email" [(ngModel)]="employe.email" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && emailError}" />
                    <small class="p-error" *ngIf="submitted && emailError">{{emailError}}</small>
                </div> 
                <div class="field">
                    <label for="firstName">Nom</label>
                    <input type="text" pInputText id="firstName" [(ngModel)]="employe.firstName" required autofocus
                       [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('firstName').error!=undefined}"  autofocus />
                    <small class="p-error" *ngIf=" submitted && getErrorByFieldName('firstName').error!=undefined"
                        >{{getErrorByFieldName('firstName').error}}</small>
                </div>
                <div class="field">
                    <label for="lastName">Prenom</label>
                    <input type="text" pInputText id="lastName" [(ngModel)]="employe.lastName"  [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('lastName').error!=undefined}"  autofocus />
                    <small class="p-error" *ngIf=" submitted && getErrorByFieldName('lastName').error!=undefined"
                        >{{getErrorByFieldName('lastName').error}}</small>
                    
                </div>
                <div class="field">
                    <label for="cin">CIN</label>
                    <p-inputNumber id="cin" [(ngModel)]="employe.cin" [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('cin').error!=undefined}"  autofocus />
                    <small class="p-error" *ngIf=" submitted && getErrorByFieldName('cin').error!=undefined"
                        >{{getErrorByFieldName('cin').error}}</small>
                </div>
                <!-- date naissance -->
                <div class="field">
                    <label for="datebirth">Date de naissance</label>
                    <p-calendar id="datebirth" [showIcon]="true" inputId="icon" [(ngModel)]="employe.datebirth" dateFormat="yy/mm/dd" [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('datebirth').error!=undefined}"   placeholder="yyyy/MM/dd" />
                    <small class="p-error" *ngIf=" submitted && getErrorByFieldName('datebirth').error!=undefined" 
                        >{{getErrorByFieldName('datebirth').error}}</small> 
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <textarea id="address" pInputTextarea [(ngModel)]="employe.address" required rows="3"
                        cols="20"[ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('address').error!=undefined}" ></textarea>
                        
                        <small class="p-error"
                            *ngIf=" submitted && getErrorByFieldName('address').error!=undefined">{{getErrorByFieldName('address').error}}</small>
                </div>
                <div class="field">
                    <label for="salary">Salaire</label>
                    <p-inputNumber id="salary" [(ngModel)]="employe.salary" mode="currency" currency="MGA"
                        locale="fr-FR"></p-inputNumber>
                </div>
                <!-- hired date -->
                <div class="field">
                    <label for="hired_at">Date d'embauche</label>
                    <p-calendar id="hired_at" [showIcon]="true" inputId="icon" [(ngModel)]="employe.hired_at" placeholder="yyyy/MM/dd" dateFormat="yy/mm/dd"></p-calendar>
                </div>

            </ng-template> 
            
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
                <button pButton pRipple type="submit" label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEmploye()
                "></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="deleteEmployeDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="employe">Etes vous sure que vous voulez supprimer <b>{{employe.firstName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteEmployeDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>