<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
				<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
					<div>
						<div class="font-medium text-3xl text-900">Rendez-vous</div>						
					</div>
				</div>
			</div>

			<p-table #dt1 [value]="appointments" dataKey="_id" [rows]="10" [loading]="loading" [rowHover]="true"
				styleClass="p-datatable-gridlines" [paginator]="true"
				[globalFilterFields]="['service.servicename','employe.firstName','employe.lastName']"
				responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
							(click)="clear(dt1)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
								placeholder="Search Keyword" class="w-full" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Date
								<p-columnFilter type="text" field="date" display="menu" placeholder="Search by name" matchMode="contains" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
									<ng-template pTemplate="filter" let-value let-filter="filterCallback">
										<p-calendar #calendar  [ngModel]="value" (onSelect)="filter(formatDateString(calendar.value))" dateFormat="yy-mm-dd"></p-calendar>
										{{value }}	
								   </ng-template>
								</p-columnFilter>
							</div>
						</th>
						
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Status
								<p-columnFilter field="state" matchMode="equals" display="menu" [showOperator]="false" [showMatchModes]="false" [showAddButton]="false">
									<ng-template pTemplate="filter" let-value let-filter="filterCallback">
										<p-dropdown [ngModel]="value" [options]="rdvstatuses" (onChange)="filter($event.value)" [style]="{'min-width': '12rem'}" placeholder="Any" >
											<ng-template let-option pTemplate="item">
												<span [class]="'appointment-badge status-'+option.state">{{option.label}}</span>
											</ng-template>
										</p-dropdown>
									</ng-template>
								</p-columnFilter>
							</div>
						</th>
						
<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-appoint>
					<tr>
						<td>
							{{appoint.date | date: 'yyyy-MM-dd HH:mm:ss'}}
						</td>
						<td>
							<span [class]="'appointment-badge status-' + (appoint._id?appoint._id.state:appoint.state)">{{getRdvStatusByCode(appoint._id?appoint._id.state:appoint.state).label}}</span>
						</td>
						<td>
                            <button pButton pRipple icon="pi pi-file" label="detail"
                                class="p-button-rounded p-button-secondary"
                                (click)="redirectToAboutAppointClient(appoint._id._id)"></button>
                        </td> 
						
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No appointments found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading appointments data. Please wait.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>