<div class="card mb-3">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="Retour" icon="pi pi-angle-left" routerLink="/user"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div *ngIf="appointment">
        <h2>Detail Rendez-vous</h2>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Date</label>
            <label class="col-12 md:col-10">
                {{(appointment.date)?(formatDate(appointment.date)| date: 'le d MMMM yyyy HH:mm:ss'):''}}
            </label>
        </div>
        <div class="field grid" *ngIf="appointment.serviceobj?.duree">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">duree</label>
            <label class="col-12 md:col-10">
                {{ calculateHours(appointment.serviceobj?.duree)
                }}:{{calculateRemainingMinutes(appointment.serviceobj?.duree) | number:'2.0' }}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Prix</label>
            <label class="col-12 md:col-10">
                {{totalPrice | currency:'MGA':'symbol':'1.2-2'}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Status</label>
            <span [class]="'appointment-badge status-'+appointment.state">{{appointment.state}}</span>
        </div>
        <div class="field grid" *ngIf="appointment.state != appointState.PAID">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Payement</label>
            <p-dialog header="Payement" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}"
                [breakpoints]="{'960px': '75vw'}">
                <p class="line-height-3 m-0">
                    <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Prix</label>
                    <label class="col-12 md:col-10">
                        {{totalPrice | currency:'MGA':'symbol':'1.2-2'}}
                    </label>
                </p>
                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-check" (click)="display=false" (click)="pay()" label="Payer"
                        class="p-button-outlined"></button>
                </ng-template>
            </p-dialog> 
            <div class="grid">
                <div class="col-12">
                    <button (click)="display=true" pButton icon="pi pi-external-link" label="Payer"></button>
                </div>
            </div>
        </div>

        <h4>Program</h4>

        <p-table *ngIf="appointment.programs" #dt1 [value]="appointment.programs" dataKey="_id" [rows]="10" [loading]="loading" [rowHover]="true"
            styleClass="p-datatable-gridlines" [paginator]="true"
            [globalFilterFields]="['serviceobj.servicename','employeonj.firstName','employeonj.lastName']"
            responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Date Debut
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Date Fin
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        <div class="flex justify-content-between align-items-center">
                            Service Name
                            <p-columnFilter field="serviceobj" matchMode="in" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold">Service Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="services" placeholder="Any"
                                    (onChange)="filter($event.value)" optionLabel="servicename">
                                    
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-service-option">
                                            <span class="ml-2">{{option.servicename}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-content-between align-items-center">
                        Duree
                    </div>
                </th>
                    <th style="min-width: 14rem">
                        <div class="flex justify-content-between align-items-center">
                            Employe
                            <p-columnFilter field="employeobj" matchMode="in" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold">Employe Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="employes" placeholder="Any"
                                        (onChange)="filter($event.value)" optionLabel="lastName">

                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-employe-option">
                                                <span class="ml-2">{{option.firstName}} {{option.lastName}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 10rem">
                        <div class="flex justify-content-between align-items-center">
                            Prix
                            <p-columnFilter type="numeric" field="price" display="menu" currency="MGA"
                                [showOperator]="false"></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Status
                            <p-columnFilter field="state" matchMode="equals" display="menu" [showOperator]="false"
                                [showMatchModes]="false" [showAddButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="rdvstatuses"
                                        (onChange)="filter($event.value)" [style]="{'min-width': '12rem'}"
                                        placeholder="Any">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'appointment-badge status-' + option.value">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-program>
                <tr>
                    <td>
                        {{program.start | date: 'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td>
                        {{program.end | date: 'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td>
                        {{program.serviceobj.servicename}}
                    </td>
                    <td>
                        {{ calculateHours(program.serviceobj?.duree) }}:{{calculateRemainingMinutes(program.serviceobj?.duree) | number:'2.0' }}
                    </td>
                    <td>
                        <span class="image-text ml-2">{{program.employeobj.firstName}}
                            {{program.employeobj.lastName}}</span>
                    </td>
                    <td>
                        {{program.price | currency:'MGA':'symbol':'1.2-2'}}
                    </td>
                    <td>
                        <span
                            [class]="'appointment-badge status-' + program.state">{{getRdvStatusByCode(program.state).label}}</span>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage"> 
                <tr>
                    <td colspan="8">No appointments found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading appointments data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>


    </div>
    <div class="empty" *ngIf="!appointment&& totalPrice">
        <h1>Rendez-vous pas trouver.</h1>
    </div>
    <div class="empty" *ngIf="!appointment&& !totalPrice">
        <h1>Loading...</h1>
    </div>
</div>