<div *ngIf="showLoader" class="preloader-bg"></div>
<div *ngIf="showLoader" id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader"> <span></span> </div>
    </div>
</div>



<div id="betty-page">
    <div class="betty-contact">
        <div class="container-fluid">
            <div class="row" style="display: flex; justify-content: center; ">
                <div class="col-md-7 md-30 animate-box" data-animate-effect="fadeInLeft">
                    <h2 class="betty-heading">S'inscrire</h2>
                    <span class="heading-meta">S'inscrire pour les nouveaux utilisateurs</span>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center; ">

                <!-- Contact Form -->
                <div class="col-md-7 mb-30">
                        <!-- Form elements -->
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input [(ngModel)]="client.firstName" type="text" placeholder="Nom *">
                                <small class="p-error" *ngIf=" getErrorByFieldName('firstName').error!=undefined" 
                        >{{getErrorByFieldName('firstName').error}}</small> 
                            </div>
                            <div class="col-md-6 form-group">
                                <input [(ngModel)]="client.lastName" type="text" placeholder="Prenom *">
                                <small class="p-error" *ngIf=" getErrorByFieldName('lastName').error!=undefined" 
                        >{{getErrorByFieldName('lastName').error}}</small> 
                            </div>
                            <div class="col-md-6 form-group">
                                <input [(ngModel)]="client.email" type="email" placeholder="Email *">
                                <small class="p-error" *ngIf="emailError">{{emailError}}</small>
                            </div>
                            <div class="col-md-6 form-group">
                                <input [(ngModel)]="client.password" type="password" placeholder="Password *">
                                <small class="p-error" *ngIf=" getErrorByFieldName('password').error!=undefined" 
                        >{{getErrorByFieldName('password').error}}</small> 
                            </div>
                            <div class="col-md-12 form-group">
                                <input [(ngModel)]="client.phoneNumber"  type="text" placeholder="Numero *">
                                <small class="p-error" *ngIf=" getErrorByFieldName('phoneNumber').error!=undefined" 
                        >{{getErrorByFieldName('phoneNumber').error}}</small> 
                            </div>
                            <div class="flex align-items-center justify-content-between mb-5 gap-5">
                                <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                    style="color: var(--primary-color)" href="/user/login">Vous avez déjà un compte ?
                                    S'identifier</a>
                            </div>
                            <div class="col-md-12">
                                <input name="submit" type="submit" value="Confirmer" (click)="submit()">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>