<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="services" [columns]="cols" [loading]="loading" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="globalFilterFields" [paginator]="true"
                [rowsPerPageOptions]="rowsPerPageOptions "[showCurrentPageReport]=" true" 
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Services</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="_id">Code<p-sortIcon field="_id"></p-sortIcon>
                        </th>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{col.header}} 
                            <p-sortIcon [field]="col.field"></p-sortIcon></th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-serviceItem>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{serviceItem._id}}
                        </td>

                        <td *ngFor="let col of cols" style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{col.header}}</span>
                            {{ (col.field != 'price')?serviceItem[col.field]: (serviceItem.price | currency:'MGA':'symbol':'1.2-2') }}
                        </td>
 
                        <!-- <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Prix</span>
                            {{serviceItem.price | currency:'USD'}}
                        </td> -->
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="serviceItem.photo" [alt]="serviceItem.servicename" width="100" class="shadow-4" />
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editService(serviceItem)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteService(serviceItem)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>



        <p-dialog [(visible)]="serviceDialog" [style]="{width: '450px'}" header="Detail Service" [modal]="true" (hide)="hideDialog()"
            class="p-fluid">
            <ng-template pTemplate="content">
                <img src="{{service.photo}}" [alt]="service.servicename" width="150"
                class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="service.photo">

                <p-fileUpload mode="basic" (onSelect)="onFileSelected($event)" accept="image/*" [maxFileSize]="3000000" label="Service Image" chooseLabel="Service Image" class="mr-2 inline-block"></p-fileUpload>
                <div class="field">
                    <label for="servicename">Nom</label>
                    <input type="text" pInputText id="servicename" [(ngModel)]="service.servicename" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('servicename').error!=undefined}" />
                        <small class="p-error" *ngIf=" submitted && getErrorByFieldName('servicename').error!=undefined"
                        >{{getErrorByFieldName('servicename').error}}</small> 
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="service.description" required rows="3" 
                        cols="20"></textarea>
                </div>
                
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Prix</label>
                        <p-inputNumber id="price" [(ngModel)]="service.price" mode="currency" currency="MGA" [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('price').error!=undefined}"
                            locale="fr-FR"></p-inputNumber>
                            <small class="p-error" *ngIf=" submitted && getErrorByFieldName('price').error!=undefined"
                        >{{getErrorByFieldName('price').error}}</small> 
                    </div>
                    <div class="field col">
                        <label for="commission">Commission</label>
                        <p-inputNumber id="commission" [(ngModel)]="service.commission" [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('commission').error!=undefined}"></p-inputNumber>
                        <small class="p-error" *ngIf=" submitted && getErrorByFieldName('commission').error!=undefined"
                        >{{getErrorByFieldName('commission').error}}</small> 
                    </div>
                </div>

                <div class="field">
                    <label for="duree">Duree</label>
                    <p-inputNumber id="duree" [(ngModel)]="service.duree" [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('duree').error!=undefined}"></p-inputNumber>
                    <small class="p-error" *ngIf=" submitted && getErrorByFieldName('duree').error!=undefined"
                        >{{getErrorByFieldName('duree').error}}</small> 
                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveService()"></button>
            </ng-template>
        </p-dialog>




        <p-dialog [(visible)]="deleteServiceDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="service">Etes vous sure que vous voulez supprimer <b>{{service.servicename}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteServiceDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>