<!-- Sidebar Section -->
<aside id="betty-aside">
    <!-- Logo -->
    <div class="betty-logo">
        <a><img src="../../../../assets/vendor/images/logo.png" alt=""></a>
        <h1><a>Divine Beauty</a> <span>Centre de beauté</span></h1>
    </div>
    <div class="betty-contact-info" *ngIf="client">
        <div class="feat-inner"> <span class="icon et-profile-male "></span>
            <div class="feat-info">
                <h5>{{client.firstName}} {{client.lastName}}</h5>
                <h6>{{client.email}}</h6>
            </div>
        </div>
    </div>
    <!-- Menu -->
    <nav id="betty-main-menu">
        <ul>
            <li class="active">
                <a routerLink="/user/create-rdv" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Prise de Rendez-vous</a>
            </li>
            <li class="active">
                <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Historique de Rendez-vous</a>
            </li>
            <li class="active">
                <a routerLink="/user/preference" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Préférence</a>
            </li>
            <li class="active">
                <a routerLink="/user/list-offre" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Offre Speciale</a>
            </li>
            <li><a (click)="logout()" href="#">Retour à l'accueil</a></li>
        </ul>
    </nav>
    
    <!-- Footer -->
    <!-- <div class="betty-footer">
        <ul>
            <li><a href="#"><i class="ti-facebook"></i></a></li>
            <li><a href="#"><i class="ti-twitter"></i></a></li>
            <li><a href="#"><i class="ti-instagram"></i></a></li>
            <li><a href="#"><i class="ti-pinterest"></i></a></li>
        </ul>
    </div> -->
</aside>