<div class="card mb-3">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="flex flex-column gap-3">
                <div *ngFor="let filteroption of filteroptions" class="field-checkbox">
                    <p-radioButton [inputId]="filteroption.key" name="filteroption" [value]="filteroption"
                        [(ngModel)]="selectedFilteroption"></p-radioButton>
                    <label [for]="filteroption.key" class="ml-2">{{ filteroption.name }}</label>
                </div>
            </div>
        </ng-template>
    </p-toolbar>
    <div>
        <h2>Reservation</h2>
        <div *ngIf="selectedFilteroption && selectedFilteroption.key ==0">
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="name2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Mois</label>
                    <p-calendar #calendarMonthj [(ngModel)]="datej" (onSelect)="onMonthjSelect(calendarMonthj.value)"
                        view="month" dateFormat="mm/yy" [readonlyInput]="true" class="col-12 md:col-10"></p-calendar>
                </div>


            </div>
            <div class="grid p-fluid">
                <div class="col-12 lg:col-8">
                    <p-chart type="line" [data]="linejData" [options]="lineOptions"></p-chart>
                </div>
            </div>

            </div>

            <div *ngIf="selectedFilteroption && selectedFilteroption.key ==1">
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="name2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Annee</label>
                    <p-calendar #calendarm [(ngModel)]="datem" (onSelect)="onYearmSelect(calendarm.value)" view="year"
                        dateFormat="yy" [readonlyInput]="true" class="col-12 md:col-10"></p-calendar>
                </div>

            </div>
            <div class="grid p-fluid">
                <div class="col-12 lg:col-8">
                    <p-chart type="line" [data]="linemData" [options]="lineOptions"></p-chart>
                    {{linemData.datasets.data}}
                </div>
            </div>
        </div>



    </div>
</div>