<div class="grid">
	<div class="col-12">
		<div class="card">

			<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
				<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
					<div>
						<div class="font-medium text-3xl text-900">Rendez-vous</div>
						<div class="flex align-items-center text-700 flex-wrap">
							<div class="mr-5 flex align-items-center mt-3">
								<h5>Date: {{dateFilter | date: 'le d MMMM yyyy'}} </h5>
							</div>
							<div class="mr-5 flex align-items-center mt-3" >
								<h5>Commission: {{commission | currency:'MGA':'symbol':'1.2-2'}} </h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p-table #dt1 [value]="appointments" dataKey="_id" [rows]="10" [loading]="loading" [rowHover]="true" (onFilter)="onFilter($event, dt1)"
				styleClass="p-datatable-gridlines" [paginator]="true"
				[globalFilterFields]="['service.servicename','client.firstName','client.lastName']"
				responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<div > 
							<p-calendar #calendar [ngModel]="dateFilter"
							(onSelect)="dt1.filter(formatDateString(calendar.value), 'date','contains')"
							(onSelect)="setDateFilter(formatDateString(calendar.value))"
							dateFormat="yy-mm-dd"></p-calendar>
							<!-- {{ filter({value: dateFilter}) }} -->
						</div>
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> 
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
								placeholder="Search Keyword" class="w-full" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>

						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Date
								<!-- <p-columnFilter type="text" field="date" display="menu"
									matchMode="contains" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showClearButton]="false">
									<ng-template pTemplate="filter" let-value let-filter="filterCallback">
										<p-calendar #calendar [ngModel]="value"
											(onSelect)="filter(formatDateString(calendar.value))" (onSelect)="setDateFilter(formatDateString(calendar.value))"
											dateFormat="yy-mm-dd"></p-calendar>
											{{filtering()}}
										</ng-template>
								</p-columnFilter> -->
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								Service Name
								<p-columnFilter field="serviceobj" matchMode="in" display="menu"
									[showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
									<ng-template pTemplate="header">
										<div class="px-3 pt-3 pb-0">
											<span class="font-bold">Service Picker</span>
										</div>
									</ng-template>
									<ng-template pTemplate="filter" let-value let-filter="filterCallback">
										<p-multiSelect [ngModel]="value" [options]="services" placeholder="Any"
											(onChange)="filter($event.value)" optionLabel="servicename">

											<ng-template let-option pTemplate="item">
												<div class="p-multiselect-service-option">
													<span class="ml-2">{{option.servicename}}</span>
												</div>
											</ng-template>
										</p-multiSelect>
									</ng-template>
								</p-columnFilter>
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								Client
								<p-columnFilter field="clientobj" matchMode="in" display="menu" [showMatchModes]="false"
									[showOperator]="false" [showAddButton]="false">
									<ng-template pTemplate="header">
										<div class="px-3 pt-3 pb-0">
											<span class="font-bold">Client Picker</span>
										</div>
									</ng-template>
									<ng-template pTemplate="filter" let-value let-filter="filterCallback">
										<p-multiSelect [ngModel]="value" [options]="clients" placeholder="Any"
											(onChange)="filter($event.value)" optionLabel="lastName">

											<ng-template let-option pTemplate="item">
												<div class="p-multiselect-employe-option">
													<span class="ml-2">{{option.firstName}} {{option.lastName}}</span>
												</div>
											</ng-template>
										</p-multiSelect>
									</ng-template>
								</p-columnFilter>
							</div>
						</th>

						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Prix
								<p-columnFilter type="numeric" field="price" display="menu" currency="MGA"
									[showOperator]="false"></p-columnFilter>
							</div>
						</th>

						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Status
								<p-columnFilter field="state" matchMode="equals" display="menu" [showOperator]="false"
									[showMatchModes]="false" [showAddButton]="false">
									<ng-template pTemplate="filter" let-value let-filter="filterCallback">
										<p-dropdown [ngModel]="value" [options]="rdvstatuses"
											(onChange)="filter($event.value)" [style]="{'min-width': '12rem'}"
											placeholder="Any">
											<ng-template let-option pTemplate="item">
												<span
													[class]="'appointment-badge status-' + option.value">{{option.label}}</span>
											</ng-template>
										</p-dropdown>
									</ng-template>
								</p-columnFilter>
							</div>
						</th>

						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-appoint>
					<tr>
						<td>
							{{appoint.date | date: 'yyyy-MM-dd HH:mm:ss'}}
						</td>
						<td>
							{{appoint.serviceobj.servicename}}
						</td>
						<td>
							<span class="image-text ml-2">{{appoint.clientobj.firstName}}
								{{appoint.clientobj.lastName}}</span>
						</td>
						<td>
							{{appoint.price | currency:'MGA':'symbol':'1.2-2'}}
						</td>
						<td>
							<span
								[class]="'appointment-badge status-' + appoint.state">{{getRdvStatusByCode(appoint.state).label}}</span>
						</td>
						<td>
							<button pButton pRipple icon="pi pi-file" label="detail"
								class="p-button-rounded p-button-secondary"
								(click)="redirectToAboutAppointEmploye(appoint._id)"></button>
						</td>

					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No appointments found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading appointments data. Please wait.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>