<div id="betty-footer2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="betty-logo">
                            <a href="index.html"><img src="../../../../assets/vendor/images/logo.png" alt=""></a>
                            <h2 class="text-center">Divine Beauty
                                <span>Centre de beauté</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <div class="betty-footer">
                            <p>Copyright © 2024- RAVOAHANGILALAO Anjaniaina Kaloina Melodie - ANDRIANAY Miarintsoa Orlando</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>