.customer-badge,
.product-badge,
.employe-badge,
.appointment-badge,
.order-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.product-badge {
    &.status-instock {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-outofstock {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.customer-badge {
    &.status-qualified {
        background: #C8E6C9;
        color: #256029;
    } 

    &.status-unqualified {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-negotiation {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.status-new {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-renewal {
        background: #ECCFFF;
        color: #694382;
    }

    &.status-proposal {
        background: #FFD8B2;
        color: #805B36;
    }
}

.order-badge {
    &.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }

    &.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.order-returned {
        background: #ECCFFF;
        color: #694382;
    }
}


.employe-badge {
    &.status-withpssw {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-withoutpssw {
        background: #FFCDD2;
        color: #C63737;
    }
}
.appointment-badge{
    &.status-CREATED {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-ONGOING {
        background: #FFD8B2;
        color: #805B36;
    }

    &.status-CANCELED {
        background: #FFCDD2;
        color: #C63737;
    }

    &.order-DONE {
        background: #ECCFFF;
        color: #694382;
    }

    &.status-PAID {
        background: #C8E6C9;
        color: #256029;
    } 

}