@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

.empty {
	height: 100vh;
	font-family: "Montserrat", "sans-serif";
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	a {
		color: black;
	}
}

@import "/src/assets/vendor/css/style.css";