<!-- Services Page -->
<div *ngIf="showLoader" class="preloader-bg"></div>
    <div *ngIf="showLoader" id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
<div class="betty-services" *ngIf="service">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 animate-box active" data-animate-effect="fadeInLeft">
                <div class="mb-30"> <img src="{{service.photo}}" class="img-fluid mb-30" alt="">
                    <h3>{{service.servicename}}</h3>
                    <!-- Duration Price -->
                    <div class="row services-price mb-30">
                        <div class="col-md-12">
                            <div class="services-price-info">
                                <h5 *ngIf = "service.duree"class="title">{{ calculateHours(service.duree) }}:{{
                                    calculateRemainingMinutes(service.duree) | number:'2.0' }}<span
                                        class="price">{{service.price | currency:'MGA':'symbol':'1.2-2'}}</span>
                                    </h5>
                                <p>
                                    {{service.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>

                    </p>
                </div>

            </div>
            <!-- Sidebar -->
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <div class="betty-sidebar-part">
                    <div class="betty-sidebar-block betty-sidebar-block-categories">
                        <div class="betty-sidebar-block-title">Nos services</div>
                        <div class="betty-sidebar-block-content">
                            <ul class="ul1">

                                <li *ngFor="let serviceItem of services"><a
                                        [ngClass]="{ active: service._id == serviceItem._id }"
                                        routerLink="/services/{{serviceItem._id}}">{{serviceItem.servicename}}
                                        </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="empty" *ngIf="!service">
    <h1>Pas de service.</h1>
</div>