<p-table #dt [value]="datatable" [columns]="cols" [loading]="loading" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="globalFilterFields" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions "
                [showCurrentPageReport]=" true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Duree Moyen de travail</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header"> 
                    <tr>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employeItem>
                    <tr>
                        <td *ngFor="let col of cols" style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{col.header}}</span>
                            {{ (col.field == 'averageWorkingHours')?decimalToTimeString(employeItem.averageWorkingHours):employeItem[col.field]}}
                        </td>

                        <!-- <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Prix</span>
                            {{employeItem.price | currency:'USD'}}
                        </td> -->
                        
                        
                    </tr>
                </ng-template>
            </p-table>

