<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/bo">
        <img src="assets/vendor/images/logo-rose.png" alt="logo" />
        <span>Divine Beauty {{topTitle}}</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div class="user">

            <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span *ngIf="employe">{{employe.lastName}}</span>
            
        </button>
        <span class="span-outside" *ngIf="employe">{{employe.lastName}}</span>
    </div>
    </div>
</div>