<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar [userType]="userType"></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar [userType]="userType"></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <!-- <app-config></app-config> -->
    <div class="layout-mask"></div>
</div>
