<!-- Sidebar Section -->
<aside id="betty-aside">
    <!-- Logo -->
    <div class="betty-logo">
        <a routerLink="/" ><img src="../../../../assets/vendor/images/logo.png" alt=""></a>
        <h1><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Divine Beauty</a> <span>Centre de beauté</span></h1>
    </div>
    <!-- Menu -->
    <nav id="betty-main-menu">
        <ul>
            <li class="active">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            </li>
            <li><a routerLink="/services" routerLinkActive="active" >Services</a></li>
        </ul>
    </nav>
    <!-- Info -->
    <div class="betty-contact-info">
        <div class="feat-inner" > 
            <a routerLink="/user">
                <span class="icon et-profile-male "></span>
                <div class="feat-info">
                    <h5>Compte</h5>
                    <h6>Espace utilisateur</h6>
                </div>
            </a>
        </div>
    </div>
    <!-- Footer -->
    <!-- <div class="betty-footer">
        <ul>
            <li><a href="#"><i class="ti-facebook"></i></a></li>
            <li><a href="#"><i class="ti-twitter"></i></a></li>
            <li><a href="#"><i class="ti-instagram"></i></a></li>
            <li><a href="#"><i class="ti-pinterest"></i></a></li>
        </ul>
    </div> -->
</aside>