<div class="card mb-3">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="Retour" icon="pi pi-angle-left" routerLink="/employe"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div *ngIf="program">
        <h2>Detail Programme</h2>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Service</label>
            <label class="col-12 md:col-10">
                {{program.serviceobj?.servicename}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Date debut</label>
            <label class="col-12 md:col-10">
                {{(program.start)?(formatDate(program.start)| date: 'le d MMMM yyyy HH:mm:ss'):''}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Date fin</label>
            <label class="col-12 md:col-10">
                {{(program.end)?(formatDate(program.end)| date: 'le d MMMM yyyy HH:mm:ss'):''}}
            </label>
        </div>
        <div class="field grid" *ngIf="program.serviceobj?.duree">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">duree</label>
            <label class="col-12 md:col-10">
                {{ calculateHours(program.serviceobj?.duree)
                }}:{{calculateRemainingMinutes(program.serviceobj?.duree) | number:'2.0' }}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Prix</label>
            <label class="col-12 md:col-10">
                {{program.price | currency:'MGA':'symbol':'1.2-2'}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Status</label>
            <span [class]="'appointment-badge status-'+program.state">{{program.state}}</span>
        </div>
        <div class="field grid" *ngIf="program.state != appointState.DONE">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Fait</label>
            <p-dialog header="Fait" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}"
                [breakpoints]="{'960px': '75vw'}">
                <p class="line-height-3 m-0">
                        Marquer comme Fait
                </p>
                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-check" (click)="display=false" (click)="done()" label="Fait"
                        class="p-button-outlined"></button>
                </ng-template>
            </p-dialog> 
            <div class="grid">
                <div class="col-12">
                    <button (click)="display=true" pButton icon="pi pi-external-link" label="Fait"></button>
                </div>
            </div>
        </div>

        

    </div>
    <div class="empty" *ngIf="!program&& !loading">
        <h1>Rendez-vous pas trouver.</h1>
    </div>
    <div class="empty" *ngIf="!program&& loading">
        <h1>Loading...</h1>
    </div>
</div>