<div *ngIf="showLoader" class="preloader-bg"></div>
<div *ngIf="showLoader" id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader"> <span></span> </div>
    </div>
</div>



<div id="betty-page">
    <div class="betty-contact">
        <div class="container-fluid">
            <div class="row" style="display: flex; justify-content: center; ">
                <div class="col-md-7 md-30 animate-box" data-animate-effect="fadeInLeft">
                    <h2 class="betty-heading">Se connecter</h2>
                    <span class="heading-meta">Connectez-vous pour accéder à votre compte</span>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center; ">

                <!-- Contact Form -->
                <div class="col-md-7 mb-30">
                        <!-- Form elements -->
                        <div class="row">
                            <div class="col-md-8 form-group">
                                <input [(ngModel)]="email" type="email" placeholder="Email *">
                                <p><small class="p-error" >{{emailError}}</small></p>
                            </div>
                            <div class="col-md-8 form-group">
                                <input [(ngModel)]="passwordInput" (ngModelChange)="updatePassword($event)" type="password" placeholder="Password *" >
                                <p><small class="p-error" >{{passwordError}}</small></p>
                            </div> 
                            <div class="flex align-items-center justify-content-between mb-5 gap-5">                        
                                <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                    style="color: var(--primary-color)" href="/user/signup">Créer un compte si vous êtes nouveau ici</a>
                            </div>
                            <div class="col-md-12">
                                <input name="submit" type="submit" (click)="submit()" value="Confirmer">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>