<div class="betty-testimonial testimonials bg-img bg-fixed"
    style='background-image: url("../../../../assets/vendor/images/banner.jpg");'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="section-head">
                    <h4>Ce que nos clients disent de Divine Beauty</h4>
                    <p>Quisque consectetur massa id ipsum soltudin ultrices. Pellentesque the sceisque justo.
                    </p>
                </div>
            </div>

            <div class="col-md-8">
                <p-carousel [value]="clientcomments" [numVisible]="1" [numScroll]="1" orientation="vertical"
                    verticalViewPortHeight="225px" [responsiveOptions]="responsiveOptions">
                    <ng-template let-clientcomment pTemplate="item">
                        <div class="clientcomment-item">
                            <div class="clientcomment-item-content">
                                <div class="item-box"> <span class="quote">
                                        <img src="../../../../assets/vendor/images/quot.png" alt="">
                                    </span>
                                    <p>{{clientcomment.comment}}
                                    </p>
                                    <div class="info">
                                        <div class="author-img"> <img src="" alt="">
                                        </div>
                                        <div class="cont">
                                            <h6>{{clientcomment.clientname}}</h6> <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>
