<div class="card mb-3">
    <p-toast></p-toast>
    <div>
        <h2>Prendre un Rendez-vous</h2>
        <h4>Date {{(appointment.date)?(formatDate(appointment.date)| date: 'le d MMMM yyyy HH:mm:ss'):''}} </h4>
        <div class="field">

            <p-calendar #calendar (onSelect)="onDateSelect(calendar.value)" [showTime]="true" dateFormat="yy-mm-dd " class="col-12 md:col-10"></p-calendar>
            <!-- <small class="p-error" *ngIf="submitted && emailError">{{emailError}}</small> -->
        </div>
        <div *ngIf="appointment.date">
            <h4>Programmes</h4> 
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="name2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Service</label>
                    <p-dropdown class="col-12 md:col-10" #dropdown [options]="serviceItems"
                        [(ngModel)]="selectedService"(onChange)="onChooseService(dropdown.value)"
                        placeholder="Selectionner Service"></p-dropdown>
                </div>
                <div class="field col">
                    <label htmlFor="email2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Employe</label>
                    <p-dropdown class="col-12 md:col-10" #dropdownemploye *ngIf="selectedService"
                        [options]="availableEmployeItems" [(ngModel)]="selectedEmploye"
                        (onChange)="onChooseEmploye(dropdownemploye.value)"
                        placeholder="Selectionner Employe"></p-dropdown>
                </div>
                <div class="field col">
                    <button pButton type="button" label="Ajouter Programme"
                        [disabled]="!selectedEmploye || !selectedService" class="p-button-outlined"
                        (click)="addProgram()"></button>
                </div>

            </div>
            <div class="p-2 border-1 surface-border border-round w-30rem">
                <p class=" text-center surface-border border-bottom-1">Programmes</p>
                <ul class="list-none flex flex-column gap-2 p-0 m-0 ">
                    <p-chip *ngFor="let program of appointment.programs"
                        [label]="'Effectuer  '+program.serviceobj?.servicename+' avec '+program.employeobj?.firstName+''+program.employeobj?.lastName"
                        class="text-center" label="employe service" [removable]="true"
                        (onRemove)="removeProgram(program)"></p-chip>
                </ul>
            </div>
        </div>


        <div class="my-2">
            <button pButton pRipple label="Ajouter" (click)="create()"></button>
        </div>
    </div>
</div>