<div *ngIf="showLoader" class="preloader-bg"></div>
<div *ngIf="showLoader" id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader"> <span></span> </div>
    </div>
</div>



<!-- Content -->
<div id="betty-page">
    <a href="#" class="js-betty-nav-toggle betty-nav-toggle"><i></i></a>
    <!-- Sidebar Section -->
    <app-sidebar-client></app-sidebar-client>


    <!-- Main Section -->
    <div id="betty-main">

        <router-outlet (activate)="hideLoader()"></router-outlet>
        
        <!-- Footer -->
        <app-footer-client></app-footer-client>
    </div>
</div>