<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/vendor/images/logo-rose.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <span class="text-600 font-medium">Entrez le code de vérification</span>
                </div>

                <div>
                    <div class="field ">
                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Mot de passe</label>
                        <p-password id="password1" [(ngModel)]="passwordInput" (ngModelChange)="updatePassword($event)"[toggleMask]="true" 
                            inputStyleClass="w-full p-3 md:w-30rem" [ngClass]="{'ng-invalid ng-dirty' : passwordError}" [feedback]="false"></p-password>                    
                        <p><small class="p-error" *ngIf="passwordError">{{passwordError}}</small></p>
                    </div>


                    <div class="field" >
                        <label for="password2" class="block text-900 font-medium text-xl mb-2">Confirmer mot de passe</label>
                        <p-password id="password2" [(ngModel)]="confirmPasswordInput"
                            (ngModelChange)="updateConfirmPassword($event)"  [toggleMask]="true"
                             inputStyleClass="w-full p-3 md:w-30rem"
                            [ngClass]="{'ng-invalid ng-dirty' : confirmPasswordError}" [feedback]="false"></p-password>
                            <p><small class="p-error" *ngIf="confirmPasswordError">{{confirmPasswordError}}</small></p>
                    </div>
                    <hr/>
                    

                    <button pButton pRipple label="Confirmer" class="w-full p-3 text-xl" (click)="submit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>