<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button> -->
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="spendings" [loading]="loading" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="globalFilterFields" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions "
                [showCurrentPageReport]=" true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Depense</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-spendingItem>
                    <tr>

                        <td *ngFor="let col of cols" style="width:14%; min-width:10rem;">
                            <span class="p-column-title">{{col.header}}</span>
                            {{ (col.field == 'amount')?
                            (spendingItem.amount | currency:'MGA':'symbol':'1.2-2'): 
                            ((col.field == 'date')?(spendingItem.date | date: 'le d MMMM yyyy') 
                            :((col.field == 'sptype')?(spendingItem.sptypeobj.spendinglabel)
                            :spendingItem[col.field])) }}
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editSpending(spendingItem)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteSpending(spendingItem)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>



        <p-dialog [(visible)]="spendingDialog" [style]="{width: '450px'}" header="Detail Spending"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="sptype">Type depense</label>
                        <p-dropdown class="col-12 md:col-10"
                        [options]="spendingtypeItems" [(ngModel)]="spending.sptype"
                        placeholder="Selectionner Employe" [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('sptype').error!=undefined}"></p-dropdown>
                        <small class="p-error"
                        *ngIf=" submitted && getErrorByFieldName('sptype').error!=undefined">{{getErrorByFieldName('sptype').error}}</small>
                </div>
                <div class="field">
                    <label for="amount">Montant</label>
                        <p-inputNumber id="amount" [(ngModel)]="spending.amount" mode="currency" currency="MGA"
                            locale="fr-FR"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="date">Date</label>
                    <p-calendar #calendar [ngModel]="dateModel" (onSelect)="onDateSelect(calendar.value)" dateFormat="yy-mm-dd" class="col-12 md:col-10" [ngClass]="{'ng-invalid ng-dirty' : submitted && getErrorByFieldName('date').error!=undefined}"></p-calendar>
                        <small class="p-error"
                        *ngIf=" submitted && getErrorByFieldName('date').error!=undefined">{{getErrorByFieldName('date').error}}</small>
                </div>                

                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveSpending()"></button>
            </ng-template>
        </p-dialog>




        <p-dialog [(visible)]="deleteSpendingDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="spending">Etes vous sure que vous voulez supprimer la depense ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteSpendingDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>