<div class="card mb-3">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                    <button pButton pRipple label="Retour" icon="pi pi-angle-left" routerLink="/employe"></button>
            </div>
        </ng-template>
    </p-toolbar>
    
    <div *ngIf="appointment">
        <h2>Detail Rendez-vous</h2>
        <h4>Service</h4>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Service</label>
            <label class="col-12 md:col-10">
                {{appointment.serviceobj?.servicename}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Date</label>
            <label class="col-12 md:col-10">
                {{(appointment.date)?(formatDate(appointment.date)| date: 'le d MMMM yyyy HH:mm:ss'):''}}
            </label>
        </div>
        <div class="field grid" *ngIf = "appointment.serviceobj?.duree">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">duree</label>
            <label class="col-12 md:col-10">
                {{ calculateHours(appointment.serviceobj?.duree) }}:{{calculateRemainingMinutes(appointment.serviceobj?.duree) | number:'2.0' }}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Commission</label>
            <label class="col-12 md:col-10">
                La commission n'est pas encore prête. Le rendez-vous n'est pas encore terminé.
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Status</label>
            <span [class]="'appointment-badge status-'+appointment.state">{{appointment.state}}</span>
        </div>
        <div class="field grid">
            <div class="my-2">
                <button *ngIf="appointment.state==appointState.CREATED" pButton pRipple label="Démarrer" icon="pi pi-play" ></button>
            </div>
        </div>
        <h4>Informations Client</h4>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Nom</label>
            <label class="col-12 md:col-10">
                {{appointment.clientobj?.firstName}} {{appointment.clientobj?.lastName}}
            </label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0 font-semibold">Contact</label>
            <label class="col-12 md:col-10">
                {{appointment.clientobj?.email}}
                {{appointment.clientobj?.phoneNumber}}
            </label>
        </div>

    </div>
    <div class="empty" *ngIf="!appointment">
        <h1>Rendez-vous pas trouver.</h1>
    </div>
</div>