<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            

            <div class="surface-section ">
                <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
                    <div>
                        <div class="font-medium text-3xl text-900 ">Employe</div>
                        <div class="card flex  flex-row gap-5 ">
                            <div class="p-2 border-1 surface-border border-round w-20rem">
                                <ul class="list-none flex flex-column gap-2 p-0 m-0">
                                    <li *ngFor="let employe of availableEmployes" class="p-2 border-round shadow-1" pDraggable
                                        (onDragStart)="dragStartEmploye(employe)" (onDragEnd)="dragEndEmploye()">
                                        {{employe.firstName}} {{employe.lastName}}
                                    </li>
                                </ul> 
                            </div>
                            <div class="p-2 border-1 surface-border border-round w-20rem" pDroppable (onDrop)="dropEmploye()">
                                <p class="text-center surface-border border-bottom-1">Préférence</p>
                                <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedEmployes">
                                    <p-chip *ngFor="let employe of selectedEmployes" [label]="employe.firstName+' '+ employe.lastName" [removable]="true"
                                        (onRemove)="removeEmploye(employe)"></p-chip>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
                    <div>
                        <div class="font-medium text-3xl text-900 ">Service</div>
                        <div class="card flex  flex-row gap-5 ">
                            <div class="p-2 border-1 surface-border border-round w-20rem">
                                <ul class="list-none flex flex-column gap-2 p-0 m-0">
                                    <li *ngFor="let service of availableServices" class="p-2 border-round shadow-1" pDraggable
                                        (onDragStart)="dragStartService(service)" (onDragEnd)="dragEndService()">
                                        {{service.servicename}}
                                    </li>
                                </ul>
                            </div>
                            <div class="p-2 border-1 surface-border border-round w-20rem" pDroppable (onDrop)="dropService()">
                                <p class="text-center surface-border border-bottom-1">Préférence</p>
                                <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedServices">
                                    <p-chip *ngFor="let service of selectedServices" [label]="service.servicename" [removable]="true"
                                        (onRemove)="removeService(service)"></p-chip>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>