<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/vendor/images/logo-rose.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Se connecter</div>
                    <span class="text-600 font-medium"></span>
                </div>

                <div>
                    <div class="field" >
                        <label for="email" class="block text-900 font-medium text-xl mb-2">Email</label>
                        <input pInputText class="w-full md:w-30rem mb-5"  type="email" id="email" [(ngModel)]="email" [ngClass]="{'ng-invalid ng-dirty' : emailError}"/>
                            <p><small class="p-error" *ngIf="emailError">{{emailError}}</small></p>
                    </div>   

                    <div class="field ">
                        <label for="password" class="block text-900 font-medium text-xl mb-2">Mot de passe</label>
                        <p-password id="password" [(ngModel)]="passwordInput" (ngModelChange)="updatePassword($event)"[toggleMask]="true" 
                            inputStyleClass="w-full p-3 md:w-30rem" [ngClass]="{'ng-invalid ng-dirty' : passwordError}" [feedback]="false"></p-password>                    
                        <p><small class="p-error" *ngIf="passwordError">{{passwordError}}</small></p>
                    </div>


                    
                    <hr/>
                    

                    <button pButton pRipple label="Confirmer" class="w-full p-3 text-xl" (click)="submit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>