<div class="card mb-3">
    <p-toast></p-toast>
    <div>
        <h2>Creer Offre</h2>
        <h4>Nom Offre </h4>
        <div class="field">
            <input type="text" [(ngModel)]="offername" pInputText />
        </div>

        <h4>Date debut {{(offer.start)?(formatDate(offer.start)| date: 'le d MMMM yyyy HH:mm:ss'):''}} </h4>
        <div class="field">

            <p-calendar #calendar (onSelect)="onDateStartSelect(calendar.value)" [showTime]="true"
                dateFormat="yy-mm-dd " class="col-12 md:col-10"></p-calendar>
        </div>
        <h4>Date fin {{(offer.end)?(formatDate(offer.end)| date: 'le d MMMM yyyy HH:mm:ss'):''}} </h4>
        <div class="field">

            <p-calendar #calendar1 *ngIf="offer.start" (onSelect)="onDateEndSelect(calendar1.value)" [showTime]="true"
                dateFormat="yy-mm-dd " class="col-12 md:col-10"></p-calendar>
            <!-- <small class="p-error" *ngIf="submitted && emailError">{{emailError}}</small> -->
        </div>
        <div *ngIf="offer.start && offer.end">
            <h4>Service</h4>
            <div class=" grid">
                <div class="field col">
                    <label htmlFor="name2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Service</label>
                    <p *ngIf="!serviceItems">list en cours ...</p>
                    <p-dropdown *ngIf="serviceItems" class="col-12 md:col-10" #dropdown [options]="serviceItems"
                        (onChange)="onChooseService(dropdown.value)" [(ngModel)]="selectedService"
                        name="selectedService" placeholder="Selectionner Service"></p-dropdown>
                </div>
                <div class="field col">
                    <label htmlFor="email2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Reduction</label>
                    <p-inputNumber *ngIf="selectedService" [(ngModel)]="reduction"></p-inputNumber>
                </div>
                <div class="field col">
                    <button pButton type="button" label="Ajouter Service" [disabled]="!selectedService || !reduction"
                        class="p-button-outlined" (click)="addServiceOffer()"></button>
                </div>

            </div>
            <div class="p-2 border-1 surface-border border-round w-30rem">
                <p class=" text-center surface-border border-bottom-1">Services</p>
                <ul class="list-none flex flex-column gap-2 p-0 m-0 ">
                    <p-chip *ngFor="let service of offer.services"
                        [label]="service.serviceobj?.servicename+' reduit a '+service.reduction+'%'" class="text-center"
                        label="service reduction" [removable]="true" (onRemove)="removeServiceOffer(service)"></p-chip>
                </ul>
            </div>
        </div>


        <div class="my-2">
            <button pButton pRipple label="Ajouter" (click)="create()"></button>
        </div>
    </div>
</div>