<h2>Login</h2>
<form [formGroup]="loginForm" (submit)="login()">
    <p><input type="text" placeholder="Identifiant" name="identifiant" formControlName="identifiant"></p>
    <p><input type="password" placeholder="Password" name="password" formControlName="password"></p>
    <button type="submit">Submit</button>
</form>
<p-toast></p-toast>
