<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="flex flex-column gap-3">
            <div class="field col">
                <label htmlFor="name2" class="col-12 mb-10 md:col-10 md:mb-0 font-semibold">Mois</label>
                <p-dropdown class="col-12 md:col-10" #dropdown
                    [options]="monthItems" [(ngModel)]="selectedMonth" (onChange)="onMonthSelect(dropdown.value)"
                    placeholder="Selectionner Mois" ></p-dropdown>
            </div>
        </div>
    </ng-template>
</p-toolbar>
<div class="grid" *ngIf="selectedbenefit">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Revenu</span>
                    <div class="text-900 font-medium text-xl">{{selectedbenefit.totalEarning | currency:'MGA':'symbol':'1.2-2'}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"></span>
            <span class="text-500"></span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Depense</span>
                    <div class="text-900 font-medium text-xl">{{selectedbenefit.totalSpending | currency:'MGA':'symbol':'1.2-2'}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"> </span>
            <span class="text-500"></span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Benefice</span>
                    <div class="text-900 font-medium text-xl">{{selectedbenefit.benefit | currency:'MGA':'symbol':'1.2-2'}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"> </span>
            <span class="text-500"></span>
        </div>
    </div>    

</div>