<div class="grid">
	<div class="col-12">
		<div class="card">

			<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
				<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
					<div>
						<div class="font-medium text-3xl text-900">Offre Speciale</div>
						
					</div>
				</div>
			</div>
			<p-table #dt1 [value]="offers" dataKey="_id" [rows]="10" [loading]="loading" [rowHover]="true"
				styleClass="p-datatable-gridlines" [paginator]="true"
				[globalFilterFields]="['service.servicename','client.firstName','client.lastName']"
				responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
								placeholder="Search Keyword" class="w-full" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>

						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Date debut
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Date fin
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								Offre
								
							</div>
						</th>

						
						<!-- <th></th> -->
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-offer>
					<tr>
						<td>
							{{offer.start | date: 'yyyy-MM-dd HH:mm:ss'}}
						</td>
						<td>
							{{offer.end | date: 'yyyy-MM-dd HH:mm:ss'}}
						</td>
						<td>
							{{offer.offername}}
						</td> 
						<!-- <td>
							<button pButton pRipple label="participer"
								class="p-button-rounded p-button-secondary"
								(click)="redirectToAbout(offer._id)"></button>
						</td> -->

					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No offers found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading offers data. Please wait.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>